* {
  background-color: #f2f9f2;
}
.App {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.App1 {
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Contenedorbotones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.formatoCat {
  max-width: 100vh;
  max-height: 100vh;
  border-radius: 30px;
}
.formularioyboton {
  display: flex;
}
.contenedorbotoncat {
  display: flex;
  justify-content: center;
}
.botonCat {
  margin: 30px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
}
.alinearbotoncat {
  display: flex;
  justify-content: center;
}

.botonNasa {
  margin: 10px;
  border-radius: 90px;
}
.botonPrueba {
  max-width: 15vh;
}
.Gatoboton {
  max-width: 30vh;
  max-height: 30vh;
  border-radius: 30px;
  margin: 30px;
}

.Gatocontenedorlogo,
.Museocontenedorlogo,
.Nasacontenedorlogo {
  border-radius: 150px;
}

.Museoboton {
  max-width: 30vh;
  max-height: 30vh;
  border-radius: 30px;
  margin: 30px;
}

.Nasaboton {
  max-width: 30vh;
  max-height: 30vh;
  border-radius: 30px;
  margin: 30px;
  box-shadow: 20px;
}
.Títulomuseo,
.Títulogatos,
.Títulonasa {
  text-align: center;
  text-decoration: underline;
}

.formatoNasa {
  max-width: 50vh;
  max-height: 50vh;
  border-radius: 10px;
}
.formatoMuseo {
  max-width: 120vh;
  max-height: 120vh;
}
.contenedorimagenmuseo {
  display: flex;
  justify-content: center;
}
.contenedorfechaybotonmuseo {
  display: flex;
  justify-content: center;
}
.explicacionNasa {
  font-size: 25px;
  font-family: monospace;
  text-align: justify;
  margin: 20px;
  padding: 10px;
}
.formatoNasa {
  display: flex;
  float: left;
}
.tituloformulario {
  font-family: monospace;
  text-align: center;
}
